/* 字穿线 */
.split-line {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  text-align: center;
}
.split-line span {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  overflow: hidden;
  background-color: #fff;
}
.split-line .iconfont {
  font-size: 32px;
  margin-right: 10px;
}
.split-line::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 30px;
  background-color: #bbb;
}
/* 面包屑 */
.el-breadcrumb {
  font-size: 18px !important;
}
.mixInp {
  margin: 16px 0;
}
.el-pagination {
  margin-top: 20px;
}
.el-form /deep/ .el-upload {
  position: relative;
  line-height: 0;
  border-radius: 2px;
  border: 2px dashed rgba(0 0 0 / 0.2);
  width: 120px;
  height: 120px;
}
.el-form /deep/ .el-upload img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0 0 0 / 0.2);
}
.el-form /deep/ .el-upload:hover {
  border: 2px dashed #ff525278;
}
.el-form /deep/ .el-upload i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.el-form .iconfont {
  margin-right: 2px;
  vertical-align: bottom;
}
